body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #C8F2EF;
    text-align: center;
    list-style-position: inside; 
}

h1, h2 {
    color: #1572A1;
    font-size: 30px;
}

.text-purple {
    color:  #BB6464
}

.font-style-oblique {
   text-decoration: underline;
   color: #1c1c6e;
}

.color-blue {
    color: rgb(46, 46, 143);
}

nav {
    color: #881c1c;
    font-size: 20px;
}

#alticizili {
    text-decoration: underline;
    font-style: italic;
    color: rgb(99, 70, 8);
}